* {
    outline: 0;
}

body {
    /* Зачаровать шрифты */
    font-smoothing: antialiased;
    font-variant-ligatures: none;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    user-select: none;
    min-height: 100vh;
    background-color: var(--color-10);
    color: var(--color-2);

    /**
     * Фикс для мобильного сафари, чтобы при поворотах он не склеивал и не терял контент.
     * Префиксы установлены вручную, так как на момент 13.03.2018
     * autoprefixer этого не делал автоматически.
     */
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    & ul {
        list-style-type: none;
        padding: 0;
    }

    & a {
        color: var(--color-2);
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
