:root {
    --main-padding: 34px;
    --main-width: 1200px;
    --box-shadow: 0px 1px 2px var(--color-1);

    --color-1: #000000;
    --color-2: #ffffff;
    --color-3: #dbdbdb;
    --color-4: #262626;
    --color-5: #fafafa;
    --color-6: #efefef;
    --color-7: #003569;
    --color-8: #c71d8a;
    --color-9: #fca05b;
    --color-10: #16161a;
    --color-11: #35354d;
    --color-12: #ef761a;
    --color-13: #eff7fc;
    --color-14: #8d8d9b;
}
